{:paths   ["src"]
 :deps    {org.clojure/clojure          {:mvn/version "1.11.1"}
           org.clojure/tools.deps.alpha {;; https://github.com/clojure/tools.deps.alpha/tree/add-lib3
                                         :git/url "https://github.com/clojure/tools.deps.alpha"
                                         :sha     "e4fb92eef724fa39e29b39cc2b1a850567d490dd"}}}
